body {
    font-family: sans-serif;
    color: white;
    margin: 0; /* Remove a margem padrão */
}

html {
    background-image: url('https://t4.ftcdn.net/jpg/04/17/36/11/360_F_417361125_RnrhT3Np0zB0UpeD7QlwuOoyghEGGjBX.jpg');
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

form {
    border: 2px solid white; /* Borda branca */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
    max-width: 600px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
}

label {
    margin-bottom: 5px; /* Espaçamento abaixo das labels */
    font-weight: bold; /* Negrito */
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda clara */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaçamento abaixo dos campos */
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px; /* Espaçamento à direita dos inputs */
}

button {
    background-color: #28a745; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Cursor em forma de mão */
    transition: background-color 0.3s; /* Transição suave */
}

button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
}

#description {
    font-family: Fantasy;
    font-style: italic;
    margin-bottom: 20px; /* Espaçamento abaixo da descrição */
}